/* login.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    background-image: url('assets/image/image1.avif'), url('assets/image/image2.avif');
    background-position: left top, right top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 420px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
    padding: 20px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.form-label {
    font-size: 14px;
    color: #666;
}

.form-control {
    box-shadow: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #0056b3;
    border-color: #0056b3;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-primary:hover {
    background-color: #004085;
    border-color: #003473;
}

a {
    color: #0056b3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    body {
        background-image: none;
    }

    .container {
        padding: 10px;
    }
}
